label, input, textarea {
    display: block;
}

.hidden {
    display: none;
}

.exhibition-category {
    width: 35%;
   
    .categories {
        display: flex;
        justify-content: space-between;

        .category {
            border: 1px solid black;
            border-radius: 5px;
            padding: .5rem;

            &.selected {
                background-color: salmon;
            }
        }
    } 
}
