label,
input,
textarea {
    display: block;
}

.hidden {
    display: none;
}

.exhibition-category {
    width: 35%;

    .categories {
        display: flex;
        justify-content: space-between;

        .category {
            border: 1px solid black;
            border-radius: 5px;
            padding: .5rem;

            &.selected {
                background-color: salmon;
            }
        }
    }
}

.download-button {
    display: inline-block;

    .qr-code {
        display: none;
    }

    button {
        border-radius: 5px;
        background-color: transparent;
        border: 1px solid black;
        padding: 8px;
        cursor: pointer;

    }
}

.single-view {

    .detail p:first-of-type {
        margin-bottom: 0.5rem;
    }

    .information {
        margin-left: 10px;
        margin-top: 0;
        font-style: italic;
        display: inline-block;
    }

    .options-detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}