label,
input,
textarea {
    display: block;
}

.form {
    .input {
        border-radius: 5px;
        border: 1px solid black;
        width: 80%;
    }
}

.hidden {
    display: none;
}

.exhibition-category {
    max-width: 400px !important;
    height: 5rem !important;

    .categories {
        display: flex;
        justify-content: space-between;

        .category {
            display: flex;
            flex-direction: column;

            .category-icon {
                width: 32px;
                height: 32px;
                margin: auto;

                &.selected {
                    border: 2px solid #F79839;
                }
            }
        }


    }
}

.download-button {
    display: inline-block;

    .qr-code {
        display: none;
    }

    button {
        border-radius: 5px;
        background-color: transparent;
        border: 1px solid black;
        padding: 8px;
        cursor: pointer;

    }
}

.single-view {

    p {
        margin-top: 0;
    }

    .detail {
        width: auto;
        height: 4rem;
        margin-bottom: 1rem;
    }

    .general-information {

        .detail:first-of-type {

            p,
            label {
                margin-top: 0;
            }
        }

        .description {

            .options-detail {
                p:first-child {
                    font-weight: bold !important;
                }
            }
        }

    }


    .detail p:first-of-type,
    label {
        margin-bottom: 0.5rem;
        margin-top: 0;
        font-weight: bold;
    }

    .detail p:nth-of-type(2),
    input {
        margin-bottom: 1rem;
    }

    .information {
        margin-left: 10px;
        margin-top: 0;
        display: inline-block;
    }

    .options-detail {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            font-weight: normal !important;
        }
    }

    .image {
        height: 200px;
        background-color: rgb(223, 219, 219);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;

        img {
            max-height: 100%;
            max-width: 100%;

        }
    }

    .upload {

        position: relative;

        .image.empty {
            border: 2px dashed grey;
            background-color: transparent;
            border-radius: 5px;
        }

        input {
            position: absolute;
            bottom: -13px;
            left: 2px;
            background-color: rgba(255, 255, 255, 0.5);
            padding: 1rem;
        }

    }



    textarea,
    input {
        font-family: "Open Sans";
    }


}

.form {
    .options-detail {
        width: 80%;

        .input {
            width: 40%;
        }
    }

    .duration {
        display: inline-block;

        .options-detail {

            p {
                margin: 0 10px !important;
                margin-bottom: 1rem !important;
            }
        }

        .input {
            width: 100%;
        }

    }
}