label,
input,
textarea {
    display: block;
}

.form {
    .input {
        border-radius: 5px;
        border: 1px solid black;
        width: 80%;
    }
}

.hidden {
    display: none;
}

.exhibition-category {
    max-width: 400px !important;
    height: 5rem !important;

    .categories {
        display: flex;
        justify-content: space-between;

        .category {
            font-size: 0.7rem;
            display: flex;
            flex-direction: column;

            .category-icon {
                width: 32px;
                height: 32px;
                margin: auto;

                &.selected {
                    border: 2px solid salmon;
                }
            }
        }


    }
}

.download-button {
    display: inline-block;

    .qr-code {
        display: none;
    }

    button {
        border-radius: 5px;
        background-color: transparent;
        border: 1px solid black;
        padding: 8px;
        cursor: pointer;

    }
}

.single-view {

    .detail {
        width: auto;
        height: fit-content;
        margin-bottom: 1rem;
    }

    .general-information {

        .detail:first-of-type {

            p,
            label {
                margin-top: 0;
            }
        }
    }


    .detail p:first-of-type,
    label {
        margin-bottom: 0.5rem;
        margin-top: 0;
    }

    .information {
        margin-left: 10px;
        margin-top: 0;
        font-style: italic;
        display: inline-block;
    }

    .options-detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .image {
        width: 100%;
        height: 200px;
        background-color: grey;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-height: 100%;
            max-width: 100%;

        }
    }


}

.form {
    .options-detail {
        width: 80%;

        .input {
            width: 40%;
        }
    }

    .duration {
        display: inline-block;

        .options-detail {

            p {
                margin: 0 10px !important;
            }
        }

        .input {
            width: 100%;
        }

    }
}