.filters {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    .filter-title {
        border: 1px solid black;
        padding: 1rem 3rem;
        border-radius: 5px;
        width: 120px;
        text-align: center;
        text-transform: capitalize;
        cursor: pointer;

        &.selected {
            background-color: salmon;
        }
    }

}

.section-header-exhibition {
    display: block;
}