.app-dashboard {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 10% 90%;
    background-color: #969696;
    height: 100vh;

    .view {
        overflow-y: auto;
        padding-right: 10%;
        padding-left: 5%;
        padding-top: 5%;
        padding-bottom: 10%;

        background-color: white;
        border-top-left-radius: 20px;

        h2 {
            margin-top: 0;
        }
    }
}