.top-navigation, 
.logo, 
.main-navigation {
    background-color: rgb(150, 150, 150);
    color: white;
    padding: 10px;
}

a {
    color: white;
}

ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    text-align: center;
}

.top-navigation {
    display: flex;
    justify-content: flex-end;

    .navigation {
        width: 25%;
        display: flex;
        justify-content: space-evenly;
        margin: 0;
    }

    .svg-inline--fa {
        display: block;
        margin: auto;
    }
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-navigation {
    display: flex;
    
    .navigation {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        width: 100%;
    }

    .svg-inline--fa {
        display: block;
        margin: auto;
    }
}
